<div class="big"><%= @list.name %>
  <span class="small">
    <%= link_to "edit", edit_list_path(@list, :list_id => @list.id)%>
    <%=  link_to 'X',list_path(@list,:list_id => @list.id),
                 method: :delete, data:{confirm: 'Really delete this item'} %>
   </span>
</div>
<% if @items.any? %>
    <br>
    <% @items.each do |item| %>
        <div class="big">
          <%= link_to "-#{item.name}", item_path(item,:list_id => @list.id) %>

          <span class="small"><%= link_to 'Edit', edit_item_path(item,:list_id => @list.id) %>
            <%= link_to 'X', item_path(item,:list_id => @list.id),
                        method: :delete, data:{confirm: 'Really delete this item'} %>
          </span>
        </div>
        <br>


        <br>
    <% end %>
<% else %>
    <p>No items in list</p>

<% end %>
<%= link_to 'Add item', new_item_path(:list_id => @list.id) %>