<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<h1><%= @list.name %></h1>

<% if @items.any? %>
    <br>
    <% @items.each do |item| %>

        <%= link_to item.name, item_path(item) %>
        <br>
        <%= link_to 'Add item', new_item_path %>
        <%= link_to 'Edit item', edit_item_path(item) %>
        <%= link_to 'Delete', item_path(item) %>
    <% end %>
    <% else %>
    <p>No items in list</p>
<% end %>

